.error__message, 
.success__message {
  display: none;
}

.error .error__message, 
.success .success__message {
  display: block;
}

#nav__list {
  list-style: none;
  display: flex;
}

.nav__item {
  padding: 10px 20px;
  cursor: pointer;
}
.nav__item:hover {
  background: #eee;
}

.nav__item.active {
  background: #333;
  color: white;
}

#pages,
#words__list {
  list-style: none;
}

.word__card {
  display: flex;
  padding: 5px 10px;
  cursor: pointer;
}

.word__card:hover {
  background: #666;
  color: white;
}

.word,
.translate__word {
  background: inherit;
  color: inherit;
}

.word::after {
  content: ':';
  margin-left: 2px;
}

.translate__word {
  margin-left: 10px;
}
